h2 {
    margin: 0;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }
  
  b {
    margin-right: 3px;
  }
  
  .demo-app {
    width: 100%;
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1px solid #d3e2e8;
    padding-right: 100px;
  }
  
  .demo-app-sidebar-section {
    padding: 2em;
  }
  
  .demo-app-main {
    background: #5f6668;
    border-right: 1px solid #d3e2e8;
    width: 850px;
    /* flex-grow: 1;
    padding: 3em; */
  }
  
  .fc {
    max-width: 1100px;
    margin: 0 auto;
  }

  .calendar{
    color: black;
    border-radius: 25px;
    background-color: aliceblue;
  }

  .fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 1.5em;
    padding: 10px;
  }


  .fc-daygrid-day-frame:has(.available) {
    background-color: rgb(128, 227, 158);
  }

  /* .fc-day-past {
} */

.fc .fc-bg-event {
  opacity: 1 !important; 
}

.fc-event {
  /* z-index: -1 !important; */
  color: black !important;

}

.fc-event-today{
  border: solid 3px rgb(0, 213, 255) !important;
}


.fc-theme-standard td {
  cursor: pointer;
}

.fc-view-harness {
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.fc-daygrid-day-events{
  cursor: auto;
}

.fc-daygrid-day-number{
  color: black;
}