
header {
    line-height: 1.5;
    max-height: 100vh;
    /* position: absolute; */
    top: 0;
    padding: 30px;
    /* width: 100%; */
  }
  
  .logo {
    display: block;
    /* margin: 0 auto 2rem; */
  }
  
  nav {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  
  nav a.router-link-exact-active {
    color: var(--color-text);
  }
  
  nav a.router-link-exact-active:hover {
    background-color: transparent;
  }
  
  nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
  }
  
  nav a:first-of-type {
    border: 0;
  }
  
  header .wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-bottom: 20px;
  }
  header .navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 235px;
  }

  .navbar-right button{
    background-color: var(--theme-grey);
    border-radius: 25px;
    padding: 10px;
  }

  header .navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

.loginControls{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginControls .icons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
  max-width: 30px;
}
  