.subSectionMenu {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.subSectionMenu-title {
    margin: 5px;
    color: var(--theme-main-color);
}

.subSectionMenu-title.active {
    background-color: var(--vt-c-indigo);
}