.colorcircle {
    /* position: relative; */
    width: 24px;
    height: 24px;
    border-radius: 100px;

}

.colorcircle.small {
    /* position: relative; */
    width: 12px;
    height: 12px;
    border-radius: 100px;

}

.colorpicker-modal-container{
    display: grid;

    gap: 3px;
    width: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: auto auto auto; */
}

.colorpicker-modal-container .modal {
    background-color: aqua;
    width: 100px;
    z-index: 999;
}

.colorpicker-modal-container .modal-body {
    background-color: aqua;
}

.colorCircle-content.clickable {
   cursor: pointer;
}

.colorCircle-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}