input {
    border-radius: 25px;
    padding: 10px;
    border: solid 1px #a8a4a4
}

label {
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.form-submit {
    background-color: var(--theme-main-color);
    border-radius: 25px;
    padding: 10px;
    border: black;
}

.form {
 display: flex;   
 flex-direction: column;
 padding: 15px;
 border-radius: 25px;
}