.dogCard {
    width: 200px;
    height: 300px;
    margin: 20px;


}

.dogCard-picture {
    max-height: 200px;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 25px 25px 0 0;
}

.dogCard-picture img {
    /* position: relative; */
    /* border-radius: 25px; */
    width: 100%;
}

.dogCard-description{
    color: black;
    background-color: aliceblue;
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 0 0 25px 25px;
}