
.cardAddButton {
    position: relative;
    border: solid 3px var(--theme-main-color);;
    border-radius: 25px;
    margin: 10px;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.cardAddButton:hover {
    background-color: var(--vt-c-indigo);
    cursor: pointer;
    user-select: none; 
}

.cardAddButton-container input[type=file] {
    opacity: 0;
}

.cardAddButton-container{
    color: var(--theme-main-color);
    margin: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.cardAddButton-title {
    color: var(--theme-main-color);
    font-size: 5rem;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}