@import "tailwindcss";
@import "@nuxt/ui";
@import "./base.css";

h1 {
  color: purple;
  font-size: 55px;
}

a,
.green {
  text-decoration: none;
  color: var(--theme-main-color);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

button {
  font-weight: bold;
  cursor: pointer;
}

.section {
  width: 100%;
}
