@import 'tailwindcss';
@import '@nuxt/ui';

@import './base.css';

h1 {
  color: purple;
  font-size: 55px;
}

a,
.green {
  text-decoration: none;
  color: var(--theme-main-color);
}

button {
  font-weight: bold;
  cursor: pointer;
}

.section {
  width: 100%;
}

.bg-default {
  @apply bg-gradient-to-br from-pink-50 via-purple-50 to-blue-50;
}
