main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 65vh;
}

.sectionTitle{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--theme-main-color);
}

.sectionTitle.center{
    text-align: center;
}


.link {
    color: grey;
    padding: 10px;
    background-color: bisque;
    border-radius: 25px;
  }
  
  .link:hover {
    background-color: grey;
    color: green;
    cursor: pointer;
  }